body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1%;
    padding: 40px;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.field {
    width: 22%;
    display: flex;
    flex-direction: column;
}

.field.full-width {
    width: 100%;
}

.field.half-width {
    width: 48%;
}

.field label {
    margin-bottom: 5px;
}

.field input, .field textarea, .row button {
    padding: 10px;
    box-sizing: border-box;
}

.field textarea {
    height: 100px;
}

.row.center {
    justify-content: center;
    margin-top: 20px;
}

.row.center button {
    margin-right: 10px;
}

.row.center button:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .field, .field.half-width {
        width: 100%;
        margin-bottom: 10px;
    }

    .row button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .row button:last-child {
        margin-bottom: 0;
    }

    .row.center {
        flex-direction: column;
    }

    .row.center button {
        width: 100%;
        margin-bottom: 10px;
    }

    .row.center button:last-child {
        margin-bottom: 0;
    }
}

.row.center button[type="submit"] {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.row.center button[type="submit"]:hover {
    background-color: #216124;
}

.row.center button[type="reset"] {
    padding: 15px 30px; 
    font-size: 16px;
    background-color: #f44336; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.row.center button[type="reset"]:hover {
    background-color: #c20e0e;
}

input[type="file"] {
    position: relative;
  }
  
  input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
  }
  
  input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
  }
  
  input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 40px;
    color: #0964b0;
    content: "Upload File";
  }
  
  input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }